#tituloLoja {
    background-color:rgb(173, 18, 18);
    color:white;
    display: inline-block;
}


#f {
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#d {
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#p {
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#q {
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}

p{
    color:white
}



#Baiacu{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#doze{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#tres{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#fotoB{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}


#fotoC{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#caviar{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#duzentos{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#dois{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}


#pepinoDoMar{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#pepino{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#mil{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#dez{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}


#sardi{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#sardinha{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#vinteECinco{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}
#vinte{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc;
}



#tudo{
    color:rgb(0, 0, 0);
    border: 1px solid #ccc; 
}

#funcionarios{
    color:rgb(255, 255, 255);
    background-color: rgb(173, 18, 18);
    display: inline-block;
    border: 1px solid #ccc;
}
#fun{
    color: rgb(173, 18, 18);
}
#redes{
    color: rgb(173, 18, 18);
}

body{
    background: rgb(99, 25, 25, 0.918);
}

#qd1{
    background-color: rgba(99, 25, 25, 0.918);
}

#ç{
    color: rgb(255, 0, 0);
}
#ahs{
    color: rgb(255, 0, 0);
}
#asd{
    color: rgb(255, 0, 0);
}
#de{
    color: rgb(255, 0, 0);
}